<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

  <div class="navbar">
    <div class="logo">
      <img src="/assets/job-logo.jpg" alt="Job Logo">
      <h3>JOB PORTAL</h3>
    </div>

    <div class="nav-links">
      <a *ngIf="!isLoggedIn" routerLink="/">Dashboard</a>
      <a *ngIf="!isLoggedIn" routerLink="">Companies</a>

      <a *ngIf="isLoggedIn" routerLink="/">Dashboard</a>
      <!-- <a *ngIf="userInfo.role === 'recruiter'" routerLink="/new-job">create new job</a> -->
      <!-- <a *ngIf="userInfo.role === 'recruiter'" routerLink="/applied-job-seeker" class="Appleid">Appleid job Seeker</a> -->

      <!-- <a *ngIf="userInfo.role === 'recruiter'" routerLink="/recruiter-info">profile Info</a> -->
      <!-- <a *ngIf="userInfo.role === 'jobseeker'" routerLink="/applied-job-seeker" class="Appleid">Appleid job Seeker</a> -->

    </div>
    <!-- Search Bar -->
    <!-- <div class="search-container">
  <input type="text" placeholder="Search by location or company" class="search-input">
  <button class="search-button">Search</button>
</div> -->
    <div class="user-actions">
      <a *ngIf="!isLoggedIn" routerLink="/login" class="login">Login</a>
      <a *ngIf="!isLoggedIn" routerLink="/register" class="register">Register</a>

      <div class="isLoggedIn-btn">

        <button *ngIf="isLoggedIn" type="button" routerLink="">{{userInfo.username}}</button>
        <button *ngIf="isLoggedIn" type="button" (click)="logOff()" routerLink="">logout</button>
      </div>
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</body>

</html>