
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    height: 40px; /* Adjust the height as needed */
   
  }
  .logo h3{
    display: inline-flex;
    /* gap: 5px; */
    padding-left:10px ;
    /* margin-top: 5px; */
    margin-bottom: 10px;
  }

  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .search-button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 136, 255, 0.927);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: rgb(11, 185, 11)
  }

  .nav-links {
    display: flex;
    gap: 15px;
  }

  .nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #333; /* Adjust the color as needed */
  }

  .user-actions {
    display: flex;
    gap: 15px;
  }

  .isLoggedIn-btn{
    display: flex;
    gap: 15px;
  }
  .isLoggedIn-btn button{
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #45a049;
  }
  .isLoggedIn-btn button:hover{
    background-color: rgba(0, 136, 255, 0.927);
  }

  .login, .register {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #4CAF50; /* Green color, you can change it */
  }
  
.register:hover {
    background-color: #45a049;
  }
  .login:hover{
    background-color: #45a049;
  }
  h3{
    color: white;
  }