<h2>Edit Recruiter Profile </h2>
    <form [formGroup]="editRecruiterForm" >
      <!-- (ngSubmit)="editRecruiter()" -->
    
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" />
      
        <label for="companyName">companyName:</label>
        <input type="text" id="companyName" formControlName="companyName" />
      
        <label for="phone">phone:</label>
        <input type="text" id="phone" formControlName="phone" />
      
        <label for="address">address:</label>
        <!-- <input type="text" id="address" formControlName="address" /> -->
      <textarea name="address" id="address"  formControlName="address" cols="30" rows="10">address</textarea>
        
        <button type="submit" (click)="OnSubmit()" >Submit</button>
      </form>
      
