<!-- <p>job-application works!</p> -->

<h2 *ngIf="jobTitle">Apply for : {{ jobTitle.title }} </h2>

<p *ngIf="jobTitle">{{jobTitle.company}}</p>
<form [formGroup]="applicationForm" (ngSubmit)="submitApplication()">
  <label for="name">Your Name:</label>
  <input type="text" id="name" formControlName="name" />

  <label for="resume">Resume:</label>
  <input type="file" accept="pdf" id="resume" formControlName="resume" />

  <!-- Add more form fields as needed -->

  <button type="submit">Submit Application</button>
</form>
